/* Battery */
#battery-test-container{
  x:0;
  y:100%-60;  
}
#battery-symbol{
  x: 4;
}
#battery-text{
  x:0;
  y:30;
}

/* Elevation */
#elevation-text-container{
  y:100%-64;
}
#elevation-legend{
  x:100%-32;
}
#elevation-text{
  x:0;
  y:34;
}
